[Unit]
Description=EdgeAI OOB demos
After=weston.service
Wants=weston.service

[Service]
Type=forking
Restart=no
TimeoutSec=30
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStartPre=-/etc/init.d/edgeai-launcher.sh kill_weston
ExecStart=/etc/init.d/edgeai-launcher.sh start
ExecStopPost=/etc/init.d/edgeai-launcher.sh exit
StandardOutput=journal

[Install]
WantedBy=multi-user.target
