[Unit]
Description=Start USB gadget
Requires=dev-mmcblk0p1.device
Wants=serial-getty@ttyGS0.service
Wants=busybox-udhcp.service

After=dev-mmcblk0p1.device
Before=serial-getty@ttyGS0.service
Before=busybox-udhcp.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/gadget-init.sh
ExecStopPre=/bin/systemctl stop serial-getty@ttyGS0.service
ExecStop=/sbin/rmmod g_multi

[Install]
WantedBy=basic.target
