[Unit]
Description=startwlan

[Service]
Type=exec
ExecStart=/etc/init.d/startwlan.sh
After=systemd-logind.service
StandardOutput=journal+console
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
